/* IMPORT VECTORS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/humane');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


:root {
    /* USED COLORS  */
    --neon-green: #D5FF3F;
    --grey: #8B949E;
    --white: #FFFFFF;
    --background1-color: #1E1E1E;
    --background2-color: #252525;
    --footer-color: #1A1A1A;

    /* USED FONTS */
    --prim-font: DM+Sans sans-serif;
    --second-font: Humane sans-serif;
}

i {
    color: var(--neon-green);
}

.di-flex {
    display: flex;
}

body {
    color: var(--white);
    background-color: var(--background1-color);
}

nav {
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

/* .profile-img-box {

} */

/* .profile-img {
    position: relative;
} */

.profile-img img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: relative;
}


.profile-img-shadow {
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
    position: absolute;

}

.profile-img-box {
    align-items: center;
    color: var(--neon-green);
}

.scroll {
    margin: none;
    padding: none;
    gap: 10px;
    -webkit-text-fill-color: transparent;
    color: var(--neon-green);
    -webkit-text-stroke-width: 1px;
    letter-spacing: 5px;
    line-height: 5em;
    font-size: 50px;
    position: absolute;
    font-family: Humane, sans-serif;
    size: 100em;
}

.scroll div {
    gap: 30px;
}

/* .scroll p {
   
} */

.left-to-right {
    animation: left-to-right 50s infinite linear;
    position: relative;
    z-index: 2;
}


@keyframes left-to-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}



.right-to-left {
    animation: right-to-left 50s infinite linear;
    position: relative;
    z-index: -2;
}

@keyframes right-to-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}


.profile-name {
    color: var(--neon-green);
    text-align: center;
}

.profile-name span {
    font-family: DM+Sans, sans-serif;
    text-transform: capitalize;
    font-size: 2em;
}

.profile-name h1 {
    font-family: humane, sans-serif;
    text-transform: uppercase;
    font-size: 10em;
}

.profile-name p {
    font-family: DM+Sans, sans-serif;
    text-transform: capitalize;
    font-size: 1em;
}

.describe-me {
    height: 200px;
    width: 900px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #c8ff00;
}

.describe-me-shadow {
    height: 200px;
    width: 900px;
    line-height: 10px;
    margin-left: 90px;
    background-image: linear-gradient(#D5FF3F, transparent);
    position: absolute;
    opacity: 10%;
}

.describe-me-title {
    text-align: center;
    color: var(--neon-green);
    font-family: Humane, sans-serif;
    font-size: 3em;
}

.describe-me p {
    margin: 10px 50px;
    border-radius: 3px;
    text-align: justify;
}

.describe-me a {
    background-color: var(--neon-green);
    border-radius: 3px;
    width: 80px;
    margin-left: 800px;

}