/* IMPORT VECTORS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/humane');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


:root {
    /* USED COLORS  */
    --neon-green: #D5FF3F;
    --grey: #8B949E;
    --white: #FFFFFF;
    --background1-color: #1E1E1E;
    --background2-color: #252525;
    --footer-color: #1A1A1A;

    /* USED FONTS */
    --prim-font: DM+Sans, sans-serif;
    --second-font: Humane, sans-serif;
}

i {
    color: var(--neon-green);
}

.di-flex {
    display: flex;
}

.neocolor {
    color: var(--neon-green);
}

.dm-font {
    font-family: var(--prim-font);
}


.humane-font {
    font-family: var(--second-font);
}

body {
    color: var(--white);
    background-color: var(--background1-color);
}

/* STYLE DESIGN OF THE CV HEAD */
nav {
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 80px;
    gap: 5em;
}

/* .profile-img-box {

} */

/* .profile-img {
    position: relative;
} */

.profile-img img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: relative;
}


.profile-img-shadow {
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
    position: absolute;

}

.profile-img-box {
    align-items: center;
}

/* SLIDING STYLE DESIGN */
.scroll {

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    line-height: 200px;
    font-size: 50px;
    letter-spacing: 4px;
    position: absolute;
}

.scroll div {
    gap: 30px;
}

.scroll p {
    size
}

.left-to-right {
    animation: lefttoright 50s infinite linear;
    position: relative;
    z-index: 2;
}


@keyframes lefttoright {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}



.right-to-left {
    animation: right-to-left 50s infinite linear;
    position: relative;
    z-index: -2;
}

@keyframes right-to-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* PROFILE TEXTES DESIGN */
.profile-name {
    text-align: center;
    width: 17em;
    position: sticky;
    top: 0px;
}


.profile-social {
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.profile-name span {
    text-transform: capitalize;
    font-size: 25px;
}

.profile-name h1 {
    font-family: var(--second-font);
    text-transform: uppercase;
    font-size: 10em;
}

.profile-name p {
    font-family: var(--prim-font);
    text-transform: capitalize;
    font-size: 1em;
    margin-top: -20px;
}

/* ABOUT BOX */
.describe-me {
    height: 300px;
    width: 900px;
    margin-left: 90px;
    border-radius: 5px;
    border: 1px solid var(--neon-green);
    position: relative;
    z-index: -1;
}

.describe-me-shadow {
    height: 300px;
    width: 900px;
    line-height: 10px;
    margin-left: 90px;
    background-image: linear-gradient(var(--neon-green), transparent);
    position: absolute;
    opacity: 10%;
}

.describe-me-title {
    text-align: center;
    font-size: 3em;
}

.describe-me p {
    margin: 10px 50px;
    border-radius: 3px;
    text-align: justify;
    font-family: var(--prim-font);
}

.describe-me-butt {
    background-color: var(--neon-green);
    border-radius: 3px;
    width: 100px;
    height: 25px;
    margin-left: 750px;
    align-items: center;
    justify-content: center;
}

/* MY ACADEMIC MILSTONE STYLES */

.formation-text {
    height: 350px;
    background-color: var(--background2-color);
    margin-top: -70px;
    text-align: justify;
    padding: 90px 150px;
}

.formation-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.formation-listing {
    list-style: inside;
    margin: 0 10px;
    line-height: 25px;
}

.formation-title ul {
    font-size: 15px;
}

.formation-title ul li p {
    font-size: 3px;
    color: var(--grey);
}

/* MY WORKING EXPERIENCES */

.experience-text {
    height: 250px;
    background-color: var(--background1-color);
    margin-top: -70px;
    text-align: justify;
    padding: 90px 150px;
}



/* THE RECENT PROJECTS I WORKED ON  */

.project{
    margin: 100px 100px;
}

.Projets-net {
    background-color: var(--background1-color);
    height: 250px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 0px;
    width: 628px;
}

h4 {

}


.project-box {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(168, 185, 95);
    text-align: center;
}